.main {
    overflow-y: scroll;
    overflow-x: hidden;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0;
    background-color: var(--background);
}

.wrapper {
    background-color: var(--background);
    margin: 0 auto;
    position: relative;
}

@media (max-width: 1200px) {
   .wrapper {
        margin-top: 75px;
    } 
}
@media (max-width: 768px) {
   .wrapper {
        margin-top: 0;
    } 
}