.block {
    /* max-width: min(1290px, max(var(--vw)* 1290, 980px)); */
    max-width: min(1290px, max(var(--vw)* 1700, 1024px));
    margin: 0 auto min(138px, max(var(--vw)* 138, 60px));
    position: relative;
    width: 100%;
    padding-top: 40px;
}

.blockAction {
    background-color: var(--background-blue-gray);
    /* padding: 40px 82px 74px; */
    padding: min(40px, max(var(--vw)* 40, 20px)) min(82px, max(var(--vw)* 82, 20px)) min(70px, max(var(--vw)* 70, 20px));
    width: 93%;
}

.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    max-width: 265px;
    margin-bottom: 23px;
    color: var(--text);
}

.context {
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0;
    /* color: var(--text-blue); */
    color: var(--text-blue-contrast-context);
    margin-bottom: 32px;
}

.blockConsultation {
    background-color: var(--background-dark);
    position: absolute;
    top: 0;
    right: 0;
    /* width: 520px; */
    width: min(520px, max(var(--vw)* 520, 465px));
    padding: 71px 49px 73px;
}
.formBlock {
    margin-bottom: 24px;
    /* padding-left: 27px; */
    width: min(560px, max(var(--vw)* 560, 480px));
}
.formName {
    border: 0;
    border-bottom: 1px solid var(--background-cornflower);
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 75px;
    letter-spacing: 0;
    background-color: transparent;
    padding-left: 24px;
    /* width: min(560px, max(var(--vw)* 560, 480px)); */
    width: 100%;
    height: 67px;
}
.formName::placeholder {
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 90px;
    letter-spacing: 0.02em;
    color:var(--placeholder);
    /* padding-left: 24px; */
}

.formName[type='text']:focus {
    border: 1px solid var(--background-cornflower);
}
.formName[type='text']:active {
    outline: 1px solid var(--background-cornflower);
}
.formName[type='text']:focus-visible {
    outline: 1px solid var(--background-cornflower);
}

.formDescription {
    border: 0;
    border-bottom: 1px solid var(--background-cornflower);
    border-left: 1px solid var(--background-cornflower);
    background-color: transparent;
    padding-top: 26px;
    padding-left: 22px;
    /* width: min(560px, max(var(--vw)* 560, 480px)); */
    width: 100%;
    height: 126px;
    resize: none; 
}

.formDescription[type='text']:focus {
    border: 1px solid var(--background-cornflower);
}
.formDescription[type='text']:active {
    outline: 1px solid var(--background-cornflower);
}
.formDescription[type='text']:focus-visible {
    outline: 1px solid var(--background-cornflower);
}
.castomIcon {
    cursor: pointer;
    display: block;
}

.castomIcon:focus-visible, 
.castomIcon:focus {
    border: 1px solid var(--background-cornflower);
    outline: 1px solid var(--background-cornflower)
}

.icon {
    width: 39px;
    height: 39px;
    fill: #1A6AFF;
}

.icon:hover, 
.icon:focus, 
.icon:focus-visible {
    fill:  var(--background-dark-orange);
}

.titleConsultation {
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    font-size: 50px;
    line-height: 100%;
    letter-spacing: 0;
    color: var(--text-blue);
    margin-bottom: 32px;
}
.text {
    line-height: 25px;
    letter-spacing: 0;
    color: var(--text-white);
    line-height: 160%;
    margin-bottom: 20px;
}
.textCallUs {
    position: absolute;
    bottom: 60px;
    padding-left: 10px;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: var(--text-white);
}
.textCallUs::after {
    content: "\A +7(812) 438-04-74";
    white-space: pre;
    font-weight: 700;
    font-size: 30px;
    line-height: 55px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: var(--text-blue);
}
.blockBtn {
    display: flex;
    column-gap: 132px;
    align-items: center;
    margin-top: 60px;
}

.btn {
    padding: 19px min(85px, max(var(--vw)* 85, 30px));
}

.btn:focus {
    border: 2px solid var(--background-dark-blue);
    color: var(--text-back);
}
.btn:hover {
    color: var(--background-dark-orange);
}
.img {
    width: 112%;
    height: auto;
    position: relative;
    left:-25px;
}

@media (max-width: 1024px) {
    .block {
        padding-top: 0px;
    }
    .blockConsultation {
        top: 0;
        height: 100%;
        padding: 30px 28px;
        width: 45%;
    }
    .img {
        /* width: 100%; */
        width: min(400px, max(40vw, 32px));
        left: 0;
    }
    .blockBtn {
        margin-top: 30px;
        column-gap: normal;
        justify-content: space-between;
    }
    .textCallUs {
        position: relative;
        bottom: 0;
        padding-left: 0;
        font-size: 16px;
        line-height: 32px;
        margin-top: 24px;
    }
    .textCallUs::after {
        line-height: 100%;
        font-size: 18px;
    }
    .titleConsultation {
        /* font-size: min(50px, max(5vw, 32px)); */
        font-size: max(5vw, 32px);
    }
    .text {
        font-size: 14px;
    }

    .blockAction {
        width: 55%;
    }
    .formName {
        width: 100%;
        padding-left: 12px;
    }
    .formDescription {
        width: 100%;
    }
    .formBlock {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .block {
        display: flex;
        flex-direction: column-reverse;
    }
    .blockConsultation {
        position: relative;
        width: 100%;
        background-image: url(../../../assets/img/ts.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-repeat: no-repeat;
        background-position:  100%;
        border: min(18px, max(2vw, 32px)) solid transparent;
        padding: 0;
    }
    .img {
        display: none;
    }
    .blockAction {
        width: 100%;
    }
    .title {
        max-width: none;
        font-size: max(4.6875vw, 28px);
    }

    .btn {
        font-size: 12px;
        padding:  16px 20px;
        letter-spacing: 0.3em;
    }
}